.topicos {
    background: var(--background-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--cor-de-fundo-secundaria);
    font-weight: 300;
    margin: 1em 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__lista-link {
    color: var(--cor-de-fundo-secundaria);
    padding: 1em;
    background-color: var(--cor-de-titulos);    
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }
    
    .topicos__lista-link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }    

    .topicos__titulo {
        font-size: 32px;
    }
}